.vscode
*.http



/services/user/.env
/services/user/.dockerignore

/services/files/node_modules
/services/files/.env
/services/files/.dockerignore

/services/analysis/venv
/services/analysis/app/.env
/services/analysis/.dockerignore