.vscode
/services/user/.env

/services/files/node_modules
/services/files/.env

/services/analysis/venv
/services/analysis/app/__pycache__
/services/analysis/app/analysis/__pycache__
/services/analysis/app/db/__pycache__
/services/analysis/app/helper/__pycache__
/services/analysis/app/.env